@charset "UFT-8";

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
}

header>h1 {
    background-color: rgb(214, 214, 214);
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    box-shadow: inset 2px 2px 3px 3px rgba(0, 0, 0, 0.397);
}

header {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

header>nav{
    background-color: rgb(107, 107, 107);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.315);
}

nav>a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

article {
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

article>h2 {
    text-align: center;
}

article>aside {
    background-color: rgb(107, 107, 107);
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 2px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 5px 5px 5px 10px rgb(107, 107, 107);
}

p>a {
    text-decoration: none;
    color: white;
}

p>a:hover {
    text-decoration: underline;
    color: fuchsia;
    background-color: rgba(190, 190, 190, 0.541);
    padding: 3px;
    border-radius: 2px;
}

