@charset "UTF-8";
:root {
    --imgspace: url('../imagens/espaco.jpg');
    --imgastro: url('../imagens/astronauta.png');
}

body {
    margin: 0px;
    padding: 0px;
}

.backgroundspace {
    height: 100vh;
    position: relative;
    background: rgba(255, 255, 255, 0) var(--imgspace) center center / cover no-repeat fixed;
    margin: 0px;
    padding: 0px;
}

.astroimg {
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 0px;
    min-height: 400px;
    height: 700px;
    min-width: 200px;
    max-width: 1050px;
    width: 459px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0) var(--imgastro) center center / contain no-repeat fixed;
}