@charset "UTF-8";

body {
    background-image: linear-gradient(#FFE3FB, #FFC2F6, #FFA0F9);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
}

h1 {
    color: #9E4D94;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(129, 63, 122, 0.63);
}

h2 {
    color: #D56CC9;
}