@charset "UTF-8";

.container {
    border: 3px solid blue;
    display: grid;
    grid-template: repeat(3, 80px) / 100px 40% repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 80px;
    grid-auto-columns: 120px;
    place-items: normal normal;
    place-content: normal normal;
}

.item {
    border: 3px solid red;
    padding: 5px;
}