@charset "UTF-8";

:root {
    --corimagem: skyblue;
    --fundogradiente: linear-gradient(to bottom, yellow, red);
    --fundoimagem: url('../ex022/imagens/wallpaper002.jpg');
}

body {
    background-image: url(imagens/wallpaper001.jpg);
}

.quadrado {
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#q1 {
    background-color: var(--corimagem);
}

#q2 {
    background-image: var(--fundogradiente);
}

#q3 {
    background-image: var(--fundoimagem);   
}