@charset "UTF-8";

:root {
    --colorbck: #69e8ec94;
    --colorfooter: rgb(166, 255, 233);
    --colordefault: white;
    --imgbck: url('imagens/wallpaper002.jpg');
    --borders: 2px solid black;
    --radius: 4px;
}

body {
    height: 100%;
    margin: 50px 0px 0px 0px;
    background-color: var(--colorbck);
    background-image: var(--imgbck);
    background-repeat: repeat; /* Resta resolver a repetição de imagem aqui */
    background-size: cover;
}

main {
    width: 500px;
    margin: auto;
    background-color: var(--colordefault);
    border: var(--borders);
    border-radius: var(--radius);
}

h1 {
    text-align: center;
}

section > p {
    text-indent: 15px;
}

section {
    padding: 15px;
}

footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: var(--colorfooter);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer > p {
    margin: 10px 10px 0px 10px;
    padding: 10px;
}