@charset "UTF-8";

/* General Styles */

* {
    margin: 0px;
    padding: 0px;
    background-color: #233eff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #121f7c;
    padding: 15px;
}