@charset "UTF-8";

.container {
    border: 3px solid blue;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
}

.item {
    border: 3px solid red;
    padding: 5px;
}