@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(255, 223, 228), rgb(255, 187, 200), rgba(255, 103, 128, 0.678));
    margin: 0;
    background-attachment: fixed;
}

header {
    font-family: "Croissant One", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    width: 640px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 1px;
    padding-top: 7px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
}

main {
    background-color: white;
    width: 670px;
    margin: auto;
    margin-top: 30px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    padding-bottom: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

footer {
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

h1 {
    text-align: center;
    background-color: rgba(255, 223, 228, 0.5);
    border-radius: 10px;
    padding: 7px;
    font-family: "Croissant One", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.25em;
}

h1#main {
    background-color: rgba(161, 252, 232, 0.5);
    font-size: 2.5em;
}

h2 {
    text-align: right;
}

p {
    text-indent: 30px;
}

.basic {
    background-color: rgba(123, 190, 176, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
    font-weight: 700;
}

.intermediate {
    background-color: rgba(230, 230, 31, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
    font-weight: 700;
}

.advanced {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
    font-weight: 700;
}