@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Jost:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Jost:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Jost:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap');

body {
    background-image: linear-gradient(#ffffff, #d4ebff, #a4d5ff);
    background-attachment: fixed;
}

header {
    width: 700px;
    margin: auto;
    background-color: white;
    padding: 7px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

main {
    width: 700px;
    margin: auto;
    background-color: white;
    padding: 7px;
    margin-top: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

footer {
    width: 700px;
    margin: auto;
    background-color: white;
    padding: 7px;
    margin-top: 55px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    font-family: 'Delius Swash Caps', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.25em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #AE87E6;
}

h2 {
    font-family: 'Merienda', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.6em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: #8F87E6;
}

p {
    text-align: center;
    text-justify: auto;
    font-family: 'jost', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}