/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #F5F5F5;
  --text: #222222;
  --inverse-text: #FFFFFF;
  --highlight: #0077FF;
  --inverse-highlight: #66BBFF;;
  --card-background: #FFFFFF;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--main-background);
  color: var(--text);
}

header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--highlight);
  padding: 10px;
}

#menu ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

#menu a {
  text-decoration: none;
  color: var(--inverse-text);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color .5s, color 0.5s;
}

#menu a:hover {
  background-color: var(--inverse-highlight);
  color: var(--highlight);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
}

#data-sheet {
  grid-column: 2;
  background-color: var(--card-background);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

#data-sheet > img.photo {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--card-background);
  outline: 5px solid var(--highlight);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#data-sheet > h1 {
  color: var(--highlight);
  margin: 15px 0px;
  font-size: 1.5em;
  text-align: center;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

#social > a {
  color: var(--highlight);
  transition: color 0.5s;
}

#social > a:hover {
  color: var(--inverse-highlight);
}

#details {
  grid-column: 2;
}

#details h2 {
  color: var(--highlight);
  margin-bottom: 10px;
}

article, #video {
  background-color: var(--card-background);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}

.video-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}