body {
    padding: 0;
    margin: 0;
    background-color: rgb(223, 223, 223);
}

h1 {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

header {
    background-color: #20232a;
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(139, 115, 115);
    margin: 4%;
    padding: 1%;
}