@charset "UTF-8";

:root {
    --foundimg: url('imagens/img-brasil.png');
    --borderglass: border: 1px solid rgba(255, 255, 255, 0.3);
    --boxshadowglass: 0 4px 30px rgba(0, 0, 0, 0.2);
    
    /* Imagens dos Estados*/
    
    --img-saopaulo: url('');
    --img-minasgerais: url('imagens/estados/minasgerais.png');
    --img-riodejaneiro: url('');
    --img-bahia: url('imagens/estados/bahia.png');
    --img-parana: url('imagens/estados/parana.png');
    --img-riograndedosul: url('');
    --img-pernambuco: url('imagens/estados/pernambuco.png');
    --img-ceara: url('');
    --img-para: url('imagens/estados/para.png');
    --img-santacatarina: url('');
    --img-goias: url('');
    --img-maranhao: url('imagens/estados/maranhao.png');
    --img-amazonas: url('');
    --img-paraiba: url('');
    --img-espiritosanto: url('');
    --img-mato-grosso: url('imagens/estados/mato-grosso.png');
    --img-riograndedonorte: url('imagens/estados/riograndedonorte.png');
    --img-piaui: url('');
    --img-alagoas: url('imagens/estados/alagoas.png');
    --img-distritofederal: url('');
    --img-matogrossodosul: url('imagens/estados/matogrossodosul.png');
    --img-sergipe: url('');
    --img-rondonia: url('');
    --img-tocantins: url('');
    --img-acre: url('imagens/estados/acre.png');
    --img-amapa: url('imagens/estados/amapa.png');
    --img-roraima: url('');

}

/* Estilização */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--foundimg) center center no-repeat fixed;
    background-size: cover;
}

header {
    text-align: center;
    padding: 50px 0px 50px 0px;
    z-index: 1;
    position: relative;
}

.container-table {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

table {
    border: var(--borderglass);
    border-collapse: collapse;
    box-shadow: var(--boxshadowglass);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12.5px);
    z-index: 1;
    position: relative;
}

th {
    padding: 20px 10px 20px 10px;
}

td {
    border: var(--borderglass);
    padding: 20px 10px 20px 10px;
    text-align: right;
}

thead > tr > th {
    position: sticky;
    top: 0;
    border: var(--borderglass);
    border-collapse: collapse;
    box-shadow: var(--boxshadowglass);
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12.5px);
}

tfoot > tr > td {
    padding: 10px 10px 10px 10px;
}

.cityname {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black;
    width: 135px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
}

tbody > tr:nth-child(odd) {
    background-color: rgba(255, 255, 0, 0.15);
}

tbody > tr:nth-child(even) {
    background-color: rgba(0, 128, 0, 0.15);
}

/* Fundo dos estados: */

/* SP */

#MG {
    background-image: var(--img-minasgerais);
    background-size: 185px;
    background-repeat: no-repeat;
    background-position: right center;
}

/* RJ */

#BA {
    background-image: var(--img-bahia);
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: left center;
}

#PR {
    background-image: var(--img-parana);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left center;
}

/* RS */

#PE {
    background-image: var(--img-pernambuco);
    background-size: 190px;
    background-repeat: no-repeat;
    background-position: left center;
}

/* CE */

#PA {
    background-image: var(--img-para);
    background-size: 165px;
    background-repeat: no-repeat;
    background-position: right center;
}

/* SC */

/* GO */

#MA {
    background-image: var(--img-maranhao);
    background-size: 185px;
    background-repeat: no-repeat;
    background-position: left center;    
}

/* AM */

/* PB */

/* ES */

#MT {
    background-image: var(--img-mato-grosso);
    background-size: 165px;
    background-repeat: no-repeat;
    background-position: left center;
}

#RN {
    background-image: var(--img-riograndedonorte);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: left center;
}

/* PI */

#AL {
    background-image: var(--img-alagoas);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* DF */

#MS {
    background-image: var(--img-matogrossodosul);
    background-size: 195px;
    background-repeat: no-repeat;
    background-position: left center;
}

/* SE */

/* RO */

/* TO */

#AC {
    background-image: var(--img-acre);
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: left center;
}

#AP {
    background-image: var(--img-amapa);
    background-size: 195px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* RR */