@charset "UTF-8";

table {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    padding: 30px;
    width: 60px;
    text-align: center;
}