@charset "UTF-8";

:root {
    --colornumber: rgba(188, 250, 245, 0.5);
}

* {
    margin: 0px;
    padding: 0px;
}

table {
    width: 30vw;
    height: 300px;
}

#firsttable {
    border: 5px solid red;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: center; /* Alinhamento horizontal */
}

.grayrow {
    background-color: rgba(165, 165, 165, 0.5);
}

.yellowdata {
    background-color: rgba(248, 248, 151, 0.5);
}

#secondtable {
    border: 5px solid black;
    margin: 10vh 0px 0px 0px;
    border-collapse: collapse;
}

.número {
    background-color: var(--colornumber);
    height: 50px;
    text-align: right;
    vertical-align: bottom; /* Alinhamento vertical */
}