@charset "UTF-8";

.conteiner {
    background-color: antiquewhite;
    display: flex;
    height: 400px;
    align-items: center;
    flex-flow: row nowrap;
}

.items {
    background-color: azure;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}

#i1 {
    order: 0;
    align-self: flex-end;
}

#i2 {
    order: 2;
    align-self: flex-start;
}

#i3 {
    order: 4;
    align-self: stretch;
}

#i4 {
    order: -3;
    align-self: auto;
}

#i5 {
    order: 9;
    align-self: flex-end;
}

#i6 {
    order: -6;
    align-self: flex-start;
}